.viewer-container {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 24px;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.viewer-container .pdfViewer .page {
  border: none;
  margin: 16px auto 0;
}
.viewer-container .pdfViewer .page:first-of-type {
  margin-top: 0;
}
